@model IEnumerable<BookStore.Models.Stationery>
@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Courses</h2>
            <p>Popular Courses</p>
        </div>
        
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="@item.Img" class="img-fluid" alt="@item.Name">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4></h4>
                                <p class="price">@item.Price</p>
                            </div>

                            <p>
                                @Html.Raw(item.Brief)
                            </p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                                    <span>Antonio</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>&nbsp;50
                                    &nbsp;&nbsp;
                                    <i class="bx bx-heart"></i>&nbsp;65
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

              }
            </div>
        </div>
</section><!-- End Popular Courses Section -->