
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_NoHero.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <h2>Mua hàng thành công</h2>
    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Courses Section ======= -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-12">
                <div class="col-12">
                    <h3>Mua hàng thành công.</h3>
                    <h4>Hệ thống sẽ chuyển về trang chủ trong giây lát.</h4>
                    <meta http-equiv="refresh" content="5; url=/home">
                </div>
            </div>
        </div>
    </div>
</section>